


<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin n°<%= params[:id] %></p>
      <p>Son auteur :  <%= gossip.author %><br/></p>
      <p>Le contenu du potin :  <%= gossip.content %></p>
      <p>Lien pour revenir à la page des potins</p>
      <p><a href="/">Reviens voir tous les potins</a></p>
      <a href="http://zupimages.net/viewer.php?id=19/43/xzsy.jpg"><img src="https://zupimages.net/up/19/43/xzsy.jpg" alt="" /></a>
     
    </form>
  </body>
</html>






