


<html>
  <head>
    <title>Créer un potin</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin n°<%= params[:id] %></p>
      <p>Son auteur :  <%= gossip.author %><br/></p>
      <p>Le contenu du potin :  <%= gossip.content %></p>
      <p>Lien pour revenir à la page des potins</p>
      <a href="/">Creer un potin</a>
    </form>
  </body>
</html>






